Window Function and ranking logics..
we have a pyaspark which containing customer purchase transaction each transaction included customer_id,order_id,order_date,order_amount so our task is to find their top 2 highest value order based on order_amount

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.sql.functions import col,row_number

In [8]:
spark=SparkSession.builder.appName("TopNOrders").getOrCreate()

In [9]:
data=[("ABC1", "O1001", "2024-03-01", 500),
 ("ABC1", "O1002", "2024-03-05", 1200),
 ("ABC1", "O1003", "2024-03-10", 750),
 ("ABC", "O2001", "2024-03-02", 900),
 ("ABC2", "O2002", "2024-03-06", 950),
 ("ABC2", "O2003", "2024-03-09", 100)]

In [10]:
df = spark.createDataFrame(data, ["customer_id", "order_id", "order_date", "order_amount"])

In [11]:
window_spec = Window.partitionBy("customer_id").orderBy(col("order_amount").desc())

In [12]:
df_with_rank = df.withColumn("rank", row_number().over(window_spec))

In [13]:
top2_df = df_with_rank.filter(col("rank") <= 2).select("customer_id", "order_id", "order_amount")

In [14]:
top2_df.show()

+-----------+--------+------------+
|customer_id|order_id|order_amount|
+-----------+--------+------------+
|        ABC|   O2001|         900|
|       ABC1|   O1002|        1200|
|       ABC1|   O1003|         750|
|       ABC2|   O2002|         950|
|       ABC2|   O2003|         100|
+-----------+--------+------------+