Data pivoting in Pyspark
problem: we have a pyspark DataFrame that stores monthly sales data of products across different regions.Our task is to pivot this data to show total monthly sales per product, where each month becomes column

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

In [24]:
spark=SparkSession.builder.appName("PivotExample").getOrCreate()

In [30]:
data=[("abc1", "South", "Jan", 1000),
 ("abc1", "North", "Jan", 1200),
 ("abc1", "South", "Feb", 1300),
 ("abc2", "North", "Jan", 900),
 ("abc2", "South", "Feb", 1100),
 ("abc2", "North", "Feb", 1000),
 ("def1", "East", "jun" ,1200),
("abc1", "South", "Feb", 1000),

    ]

In [31]:
columns=["product_id","region","month","sales_amount"]

In [32]:
df=spark.createDataFrame(data,columns)

Group and pivot

In [33]:
pivot_df=df.groupBy("product_id").pivot("month").agg(sum("sales_amount")).fillna(0)
pivot_df

DataFrame[product_id: string, Feb: bigint, Jan: bigint, jun: bigint]

In [34]:
pivot_df.show()

+----------+----+----+----+
|product_id| Feb| Jan| jun|
+----------+----+----+----+
|      abc1|2300|2200|   0|
|      def1|   0|   0|1200|
|      abc2|2100| 900|   0|
+----------+----+----+----+