Spark querry to findout 3 top customers who spent most money.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

In [2]:
spark=SparkSession.builder.appName("Top customers").getOrCreate()

In [11]:
data=[("abc1",200),("abc2",300),("abc3",400),("abc4",500),("abc6",600)]
columns=['customer_id','transaction_amount']

df=spark.createDataFrame(data,columns)

result=(df.groupBy("customer_id").agg(sum('transaction_amount').alias('total_spent')).orderBy('total_spent',ascending=False).limit(3))

In [10]:
result.show()

+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|       abc6|        600|
+-----------+-----------+